<div class="box box-primary">
  <div class="box-header with-border bg-primary text-white">
    <span class="box-title">{{titulo}}</span>
    <button *ngIf="this.btnAdd" class="btn btn-sm btn-success pull-right"><i class="fa fa-{{btnAddIcon}}"></i> {{btnAddText}}</button>
  </div>
  <div class="box-body">
    <div class="table-responsive" >
      <table id="datatable"   #midata datatable [dtOptions]="dtOptions" style="width: 100%;" class="row-border hover table table-bordered table-striped table-hover">

      </table>
    </div>

    <button (click)="exportPDF()" class="btn btn-success btn-sm"><i class="fa fa-print"></i>Imprimir</button>
  </div>
</div>
